<header>
    <ul id="navbar">
        <li><a class="navbar-links" href="/">Home</a></li>
        <li><a class="navbar-links" href="/signup">Signup</a></li>
        <li><a class="navbar-links" href="/login">Login</a></li>
        <li><a class="navbar-links" href="/admin">Admin</a></li>
        <form>
            <li><button>Logout</button></li>
        </form>
    </ul>
</header>