<li>
    <article>
        <h3>Post Title</h3>
        <div class="actions">
            <a href="/dummy-link" class="btn">View & Edit</a>
            <form action>
                <button class="btn-alt">Delete</button>
            </form>
        </div>
    </article>
</li>