<%- include('includes/head') %>
</head>
<body>
    <%- include('includes/header') %> 
    <main>
        <h1>Not authenticated!</h1>
        <p>You are not authenticated and therefore not allowed to access this page!</p>
    </main>
</body>