<%- include('includes/head.ejs')%>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>An error ocurred!</h1>
    <p>Something went wrong - please try again later!</p>
  </main>
</body>
</html>