<%- include('includes/head') %> 
<link rel="stylesheet" href="styles/forms.css">
<link rel="stylesheet" href="styles/post.css">

</head>
<body>
    <%- include('includes/header') %> 
    <main>
        <section>
            <h1>Administrate Blog Posts</h1>
            <h2>Create a New Post</h2>
            <form action>
                <div id="form-controll">
                    <label for="post-title">Title</label>
                    <input type="text" name="post-title" id="post-title">
                </div>
                <div id="form-controll">
                    <label for="post-content">Content</label>
                    <textarea name="post-content" id="post-content" cols="30" rows="5"></textarea>
                </div>
                <button class="btn">Save</button>
            </form>
        </section>
        <section>
            <h2>All Blog Posts</h2>
            <ul id="post-list">
                <%- include('includes/post-list-item') %> 
            </ul>
        </section>
    </main>
</body>