<%- include('includes/head') %> 
<link rel="stylesheet" href="styles/forms.css">
<link rel="stylesheet" href="styles/post.css">
</head>
<body>
    <%- include('includes/header') %> 
    <main>
        <%- include('includes/single-post-item') %> 
    </main>
</body>